/* montserrat-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-cyrillic_latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
    font-size: 62.5%;
    --bg-main: #ffffff;
    --bg-secondary: #f4f4f4;
    --text-main: #121214;
    --text-secondary: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


.wrapper {
    max-width: 360px;
    margin: 0px auto;
    position: relative;
}


.header {
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.header__container {
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header__logo {}

.header__btn {
    min-width: 20px;
    min-height: 20px;
    padding: 20px 20px;
    background-color: transparent;
}

.header__btn img {
    max-width: 100%;
}



.main {}





.gallery {
    background: linear-gradient(0deg, rgba(18, 18, 20, 0.75) 0%, rgba(18, 18, 20, 0.75) 100%), url("../img/gallery_background.jpg"), lightgray 50% / cover no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
}

.gallery__container {
    width: 294px;
    display: flex;
    flex-direction: column;
    margin: 150px 30px 100px 30px;
}

.gallery__title {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.gallery__text {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 42px;
}

.gallery__btn {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-secondary);
    text-decoration: none;
    margin-bottom: 100px;
    padding: 10px;
    background: #037E8C;
    border-radius: 9px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.slides {
    display: flex;
    align-items: center;
}

.slide {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin-right: 15px;
}

.slide:first-child {
    background-color: #037E8C;
}



.scroll {
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 10px;
}

.line {
    margin-left: 30px;
}




.advantages {
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


.advantages__list {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item {
    width: 160px;
    margin-bottom: 25px;
}


.item__icon {
    margin-bottom: 15px;
}

.item__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.item__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
}




.routes {
    color: var(--text-main);
    background-color: var(--bg-secondary);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.routes__container {
    width: 340px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 45px;
}

.routes__title {
    font-size: 2.4rem;
    font-weight: 700;
    align-self: center;
    margin-bottom: 36px;
}

.routes__rates {}

.rates__item {
    margin-bottom: 65px;
}

.rates__item:last-child {
    margin-bottom: 0px;
}

.rates__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 6px;
    position: relative;
}

.rates__title::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #037E8C;
    position: absolute;
    top: 15%;
    right: 0;
}

.rates__price {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 17px;
}

.rates__list {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 11px;
}

.uppercase {
    font-weight: 400;
    text-transform: uppercase;
}

.rates__list li {
    margin-bottom: 7px;
    display: flex;
}

.rates__list>li>img {
    margin-right: 10px;
}


.rates__route {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 9px;
    text-transform: uppercase;
    position: relative;
}

.rates__route::after {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../img/routes_way.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: -3px;
    left: 10rem;
}

.rates__description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.24rem;
    margin-bottom: 28px;
}

.rates__btn {
    color: #037E8C;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border-radius: 9px;
    border: 1.5px solid #037E8C;
    padding: 11px 39px;
}

.rates__link {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border-radius: 9px;
    background: #037E8C;
    padding: 11px 25px;
    text-decoration: none;
}

.rates__wrapper {
    display: flex;
    justify-content: space-between;
}

.rates__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.rates__image {
    margin-right: 10px;
}

.rates__image img {
    border-radius: 0.9rem;
}


.routes__slides {}

.routes__slide {
    background-color: #121214;
}





.testing {
    color: var(--text-secondary);
    background-color: #121214;
    background-image: url("../img/testing_background.svg");
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

.testing__container {
    width: 320px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.testing__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 19px;
}

.testing__text {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 33px;
}

.testing__btn {
    border-radius: 9px;
    background: #037E8C;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    padding: 14px 44px;
}





.team {
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.team__container {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 35px;
}

.team__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__item {
    width: 160px;
    height: 229px;
    background-color: #f4f4f4;
    border-radius: 0.9rem;
    margin-bottom: 15px;
}

.team__photo {
    margin-bottom: 5px;
    border-radius: 0.9rem 0.9rem 0 0;
}

.team__photo img {
    max-width: 100%;
}

.team__name {
    color: #037E8C;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
    padding-left: 8px;
}

.team__job {
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 8px;
}



.conditions {
    color: var(--text-main);
    background-color: var(--bg-secondary);
    background-image: url("../img/conditions_background.svg");
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.conditions__container {
    width: 340px;
    margin-top: 35px;
    margin-bottom: 40px;
}

.conditions__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.conditions__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conditions__item {
    margin-bottom: 8px;
    background-color: var(--bg-main);
    padding: 10px 10px 10px 40px;
    position: relative;
    border-radius: 10px;
}

.conditions__item::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/conditions_check.svg");
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 5px;
}

.conditions__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.68rem;
}




.special {
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.special__container {
    width: 335px;
    margin-top: 25px;
    margin-bottom: 60px
}

.special__title {
    color: #373737;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 22px;
}

.special__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special__item {
    width: 335px;
    height: 344px;
    background-color: #F4F4F4;
    margin-bottom: 15px;
    border-radius: 9px;
    background-image: url("../img/special_vector.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
}


.special__img {
    margin-bottom: 10px;
    border-radius: 9px;
}

.special__img img {
    max-width: 100%;
}

.special__wrapper-text {
    padding-left: 20px;
    padding-right: 90px;
}

.special__sale {
    color: #037E8C;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 5px;
}

.special__text {
    color: #037E8C;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.special__description {
    color: #373737;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.92rem;
}

.special__btn {
    color: #037E8C;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 9px;
    border: 1.5px solid #037E8C;
    padding: 8px 30px;
    margin-top: 10px;
}




.certificate {
    background-color: var(--bg-secondary);
    background-image: url("../img/certificate_background.svg");
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate__container {
    width: 340px;
    margin-top: 36px;
    margin-bottom: 46px;
}

.certificate__title {
    color: #151515;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 7px;
}

.certificate__text {
    color: #037E8C;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 25px;
    line-height: 2.08rem;
    text-align: center;
}

.certificate__card {
    margin-bottom: 25px;
}

.card {
    width: 340px;
    height: 190px;
    border-radius: 9px;
    background: #373737;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../img/certificate_vector.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
}


.card__bow {}

.card__title {
    color: #121214;
    font-size: 3rem;
    font-weight: 900;
    line-height: 3.9rem;
}

.card__text {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.232rem;
    width: 220px;
    padding-left: 22px;
}

.card__logo {}

.card__description {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.82rem;
    padding-left: 22px;
    padding-bottom: 22px;
}

.certificate__description {
    color: #151515;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.1rem;
    margin-bottom: 14px;
}

.certificate__btn {
    color: #037E8C;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 9px;
    border: 1.5px solid #037E8C;
    padding: 14px 22px;
    display: block;
    background-color: transparent;
}





.questions {
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions__container {
    width: 340px;
    margin-top: 30px;
}

.questions__title {
    color: #393939;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 14px;
}

.questions__list {
    display: flex;
    flex-direction: column;
}

.questions__item {
    border: 0.5px solid #848484;
    margin-bottom: 10px;
}

.questions__name {
    font-size: 1.6rem;
    font-weight: 600;
}

.questions__answer {
    color: #393939;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 5px;
}



.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__container {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.feedback__img {
    margin-bottom: 5px;
}

.feedback__text {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.feedback__description {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 23px;
}

.feedback__btn {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 9px;
    background: #037E8C;
    padding: 13px 33px;
    text-align: center;

}

summary::marker {
    content: "";
}


.accordion__title {
    display: flex;
    justify-content: space-between;
}

.accordion__item {
    padding: 18px 12px;
}



.contacts {
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts__container {
    width: 340px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
    padding-top: 30px;
}

.contacts__container::after {
    content: "";
    background: #037E8C;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.contacts__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.contacts__map {}

.contacts__list {
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;

}

.contacts__item {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.contacts__img {
    margin-right: 11px;
}

.contacts__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.08rem;
}

.socials__wrapper {
    display: flex;
    align-items: center;
}

.contacts__socials {
    color: #121214;
    font-size: 1.8rem;
    font-weight: 600;
    margin-right: 13px;
}

.contacts__social {
    text-decoration: none;
    margin-right: 12px;
}



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__container {
    margin-top: 35px;
    width: 340px;
    display: flex;
    flex-direction: column;
}


.footer__logo {}

.footer__list {
    display: flex;
    flex-direction: column;
}

.footer__item {
    font-size: 14px;
    font-weight: 600;
    line-height: 2.24rem;
    text-transform: uppercase;
}

.footer__item a {
    color: #121214;
    text-decoration: none;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
    align-items: start;
}

.footer__wrapper::before {
    content: "";
    background: #121214;
    width: 100%;
    height: 0.5px;
    position: absolute;
    top: 0;
    left: 0;
}

.footer__wrapper::after {
    content: "";
    background: #121214;
    width: 100%;
    height: 0.5px;
    position: absolute;
    top: 100%;
    left: 0;
}


.footer__text {
    color: #787878;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 10px;
}