/* montserrat-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v26-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic_latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-800 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-cyrillic_latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root {
    font-size: 62.5%;
    --bg-main: #ffffff;
    --bg-secondary: #f4f4f4;
    --text-main: #121214;
    --text-secondary: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
}

.header__container {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.header__logo {}

.header__btn {}


.wrapper {
    max-width: 360px;
    margin: 0px auto;
}

.main {}





.gallery {
    background: linear-gradient(0deg, rgba(18, 18, 20, 0.75) 0%, rgba(18, 18, 20, 0.75) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-secondary);
    display: flex;
    justify-content: center;
}

.gallery__container {
    width: 294px;
    display: flex;
    flex-direction: column;
    margin: 80px 30px 100px 30px;
}

.gallery__title {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.gallery__text {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 42px;
}

.gallery__btn {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-secondary);
    text-decoration: none;
    margin-bottom: 100px;
}

.slides {
    display: flex;
}

.slide {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    margin-right: 15px;
}

.slide:first-child {
    background-color: #037E8C;
}



.scroll {
    font-size: 1.4rem;
    font-weight: 300;
    margin-left: 90px;
}




.advantages {
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 44px;
}


.advantages__list {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages__item {
    width: 160px;
}


.item__icon {
    margin-bottom: 15px;
}

.item__title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.item__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 120%;
}




.routes {
    color: var(--text-main);
    background-color: var(--bg-secondary);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.routes__container {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 45px;
}

.routes__title {
    font-size: 2.4rem;
    font-weight: 700;
    align-self: center;
    margin-bottom: 36px;
}

.routes__rates {}

.rates__item {
    margin-bottom: 65px;
}

.rates__item:last-child {
    margin-bottom: 0px;
}

.rates__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.rates__price {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 17px;
}

.rates__list {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 11px;
}

.rates__list li {
    margin-bottom: 7px;
}

.rates__route {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 9px;
}

.rates__description {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.24rem;
    margin-bottom: 28px;
}

.rates__btn {
    color: #037E8C;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border-radius: 9px;
    border: 1.5px solid #037E8C;
    padding: 10px 30px;
}

.rates__link {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border-radius: 9px;
    background: #037E8C;
    padding: 11px 15px;
    text-decoration: none;
}

.rates__images {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
}

.rates__image {}

.routes__slides {}

.routes__slide {
    background-color: #121214;
}





.testing {
    color: var(--text-secondary);
    background-color: #121214;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

.testing__container {
    width: 320px;
    margin-top: 45px;
    margin-bottom: 50px;
}

.testing__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 19px;
}

.testing__text {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 33px;
}

.testing__btn {
    border-radius: 9px;
    background: #037E8C;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    padding: 14px 44px;
}





.team {
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.team__container {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 35px;
}

.team__title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__item {
    width: 160px;
    height: 229px;
    background-color: #f4f4f4;
    border-radius: 15px;
    margin-bottom: 15px;
}

.team__photo {}

.team__name {
    color: #037E8C;
    font-size: 1.8rem;
    font-weight: 700;
}

.team__job {
    font-size: 1.4rem;
    font-weight: 400;
}



.conditions {
    color: var(--text-main);
    background-color: var(--bg-secondary);
    font-family: 'Montserrat', sans-serif;
    padding-top: 35px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.conditions__container {
    width: 340px;
}

.conditions__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.conditions__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conditions__item {
    margin-bottom: 8px;
    background-color: var(--bg-main);
    padding: 10px 10px 10px 40px;
    position: relative;
    border-radius: 10px;
}

.conditions__item::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #037e8c;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 5px;
}

.conditions__icon {}

.conditions__text {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.68rem;
}




.special {
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
}

.special__title {
    color: #373737;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}

.special__list {}

.special__item {}

.special__img {}

.special__sale {
    color: #037E8C;
    font-size: 2.4rem;
    font-weight: 800;
}

.special__text {
    color: #037E8C;
    font-size: 1.8rem;
    font-weight: 700;
}

.special__description {
    color: #373737;
    font-size: 1.6rem;
    font-weight: 400;
}

.special__btn {
    color: #037E8C;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 9px;
    border: 1.5px solid #037E8C;
    padding: 5px 10px;
    background-color: #fff;
}




.certificate {
    background-color: var(--bg-secondary);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.certificate__title {
    color: #151515;
    font-size: 2.4rem;
    font-weight: 700;
}

.certificate__text {
    color: #037E8C;
    font-size: 1.6rem;
    font-weight: 500;
}

.certificate__img {}

.certificate__description {
    color: #151515;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
}

.certificate__btn {
    color: #037E8C;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 9px;
    border: 1.5px solid #037E8C;
    padding: 5px 10px;
    text-align: left;
    display: block;
}





.questions {
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.questions__title {
    color: #393939;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.questions__list {}

.questions__item {}

.questions__name {
    font-size: 1.6rem;
    font-weight: 600;
}

.questions__answer {
    color: #393939;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
}

.questions__img {}

.questions__text {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.questions__description {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.questions__btn {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 9px;
    background: #037E8C;
    padding: 5px 10px;
    text-align: center;

}




.contacts {
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: 'Montserrat', sans-serif;
}

.contacts__title {
    font-size: 2.4rem;
    font-weight: 700;
}

.contacts__map {}

.contacts__list {}

.contacts__item {}

.contacts__img {}

.contacts__text {
    font-size: 1.6rem;
    font-weight: 400;
}

.contacts__socials {
    color: #121214;
    font-size: 1.8rem;
    font-weight: 600;
}

.contacts__social {
    text-decoration: none;
}



.footer {}

.footer__logo {}

.footer__list {}

.footer__item {
    font-size: 14px;
    font-weight: 600;
    line-height: 2.24rem;
    text-transform: uppercase;
}

.footer__item a {
    color: #121214;
    text-decoration: none;
}


.footer__text {
    color: #787878;
    font-size: 1.2;
    font-weight: 400;
}